<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Cobalt's Forum - {% block title %}{% endblock %}</title>
  </head>
  <body>
    <div id="content">
      {% block content %}{% endblock %}
    </div>
  </body>
  <!-- Include CSS -->
  <link href="/static/style.css" rel="stylesheet" />
</html>
