{% extends "base.html" %} {% block title %} Create new Thread {% endblock %} {%
block content %}
<h1 id="title">Create a new thread</h1>
<hr />
<form method="POST">
  <input
    type="text"
    name="name"
    id="name"
    placeholder="Name of your thread"
    style="margin-bottom: 1rem;"
  />
  <br />
  <textarea
    rows="10"
    style="margin-bottom: 1rem;"
    name="description"
    id="description"
    placeholder="Description"
  ></textarea>
  <br />
  <button type="submit" class="read-more-btn">
    Create new thread
  </button>
</form>
{% endblock %}
