{% extends "base.html" %}{% block title %}Landing Page{% endblock %}{% block
content %}
<h1 id="title">Welcome to Cobalt's Forum</h1>
{% for id, thread in threads.items() %}
<div class="thread">
  <h2>{{ thread["name"] }}</h2>
  <hr />
  <p>
    {{ thread["description"]|truncate(20, true, "...") }}
    <br />
    Answers: {{ thread["answers"]|length }}
  </p>
  <a class="read-more-btn" href="/thread/{{ id }}">
    Read More
  </a>
</div>
{% endfor %} {% endblock %}
