{% extends "base.html" %}{% block title %}Thread {{ thread["name"] }}{% endblock
%}{% block content %}
<h1 id="title">Thread: {{ thread["name"] }}</h1>
<hr />
<p>
  {{ thread["description"] }}
</p>

<h4>Answers</h4>
{% for answer in thread["answers"] %}
<p id="answer">
  {{ answer }}
</p>
{% endfor %}

<div id="thread-answer-form">
  <form method="POST">
    <h5>Answer to this thread</h5>
    <input type="text" name="answer" name="answer" />
    <button type="submit" class="read-more-btn">
      Submit your answer
    </button>
  </form>
</div>
{% endblock %}
