#content {
  width: 80%;
  display: block;
  margin: auto;
}

.thread {
  margin-top: 0.5rem;
  border: 1px solid lightgray;
  padding: 0.3rem;
  padding-bottom: 0.75rem;
}

.read-more-btn {
  border: 2px solid darkblue;
  padding: 0.5rem;
  text-decoration: none;
  color: black;
}

#thread-answer-form {
  display: inline-block;
  margin: 1rem;
  border: 1px solid lightgray;
  padding: 0.75rem;
}
