<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Übersicht der Abstimmung</title>

    <!-- CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style-overview.css') }}"
    />
  </head>
  <body>
    <div class="wrapper">
      <table>
        <thead>
          <tr>
            <th>Option</th>
            <th>Stimmen</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for option, value in votes.items() -%}
          <tr>
            <td class="table-option">{{ option }}</td>
            <td>{{ value }}</td>
            <td>
              <a
                class="reset-button"
                href="{{ url_for('reset_option', option=option) }}"
              >
                Reset
              </a>
            </td>
          </tr>
          {% endfor -%}
        </tbody>
      </table>
    </div>
    <div class="wrapper">
      <form action="{{ url_for('add_option') }}" method="POST">
        <input
          type="text"
          name="option"
          id="option"
          required
          class="connected-button"
          autofocus
          placeholder="Neue Option"
        />
        <button type="submit">Neue Option erstellen</button>
      </form>
    </div>
  </body>
</html>
