<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Umfrage</title>

    <!-- CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style-poll.css') }}"
    />
  </head>
  <body>
    <form action="{{ url_for('vote') }}" method="POST" class="wrapper">
      <h1>Bitte Stimme Ab!</h1>
      <select name="option" id="option">
        {% for key in votes.keys() -%}
        <option value="{{ key }}">{{ key }}</option>
        {% endfor -%}
      </select>
      <button type="submit">Stimme abschicken</button>
    </form>
    <div class="wrapper">
      <h5>{{ message }}</h5>
    </div>
  </body>
</html>
