<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo list</title>

    <link
      href="{{ url_for('static', filename='style.css') }}"
      rel="stylesheet"
    />
  </head>
  <body>
    <ol class="todo-list">
      {% for key, value in todos.items() -%}
      <li class="todo-item" style="color: {{ value }};">
        {{ key }}
        <a href="{{ url_for('check_todo', todo=key) }}" class="remove-link"></a>
      </li>
      {% endfor -%}
    </ol>
    <form class="form-wrapper" action="/add" method="POST">
      <input type="text" id="todo" required name="todo" />
      <select id="color" name="color">
        <option value="red" selected>Red</option>
        <option value="yellow">Yellow</option>
        <option value="blue">Blue</option>
        <option value="green">Green</option>
      </select>
      <button type="submit">Add new</button>
    </form>
  </body>
</html>
