/* Layout elements */
body {
  margin: 0;
}

.wrapper {
  padding: auto;
  width: 100%;
  margin: auto;
}

.content-wrapper {
  margin-left: 2rem;
  font-size: 120%;
  background-color: whitesmoke;
}

/* greeting section */
.greeting-wrapper {
  background: #f46b45; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f46b45,
    #eea849
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f46b45,
    #eea849
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 10rem;
  margin: auto;
  width: 100%;
  text-indent: 1rem;
}

.greeting-wrapper > p {
  margin: 0;
}

.greeting-text {
  margin: 0;
  margin-bottom: 1rem;
  padding: 0.5rem;
  color: white;
  font-weight: bolder;
  font-size: 500%;
}

/* button style */
.contact-button {
  border-radius: 1rem;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-left: 3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* Image text */
.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container > img {
  max-width: 50%;
  max-height: 50%;
}
