body {
  background-color: whitesmoke;
}

.wrapper {
  padding: 1rem;
  margin: auto;
  width: 50%;
}

form {
  margin: 1rem;
  min-width: 20%;
}

button {
  border: 1px solid blue;
  border-radius: 1rem;
  background-color: transparent;
}
