body {
  background-color: whitesmoke;
}

.wrapper {
  padding: 1rem;
  margin: auto;
  width: 50%;
}

th {
  padding-right: 0;
  padding-left: 0;
  text-align: left;
  border-bottom: 1px solid black;
}

td.table-option {
  border-right-width: 2px;
  padding-right: 0;
  padding-left: 0;
}

/* Add option form */

input[type='text'] {
  margin-right: -0.2rem;
  padding: 0.5rem;
  border: 1px solid blue;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

a.reset-button {
  text-decoration: none;
  color: red;
  border: 1px solid red;
  border-radius: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

button {
  margin-left: 0;
  padding: 0.5rem;
  border: 1px solid blue;
  border-left: 0;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: transparent;
}
