body {
  text-align: center;
  width: 20%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
  background-color: whitesmoke;
}

.todo-list {
  border-radius: 1rem;
  border: 1px solid black;
}

.todo-item {
  padding-left: 1rem;
  padding-right: 1rem;
}
