<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kontakt</title>
    <!-- CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='contact-me.css') }}"
    />
  </head>
  <body>
    <form class="wrapper">
      <input
        type="text"
        placeholder="Betreff"
        required
        autofocus
        name="subject"
        id="subject"
      />
      <hr />
      <textarea
        name="content"
        id="content"
        required
        placeholder="Deine Nachricht"
      >
      </textarea>
      <button type="submit">Nachricht absenden</button>
    </form>
  </body>
</html>
