<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meine Homepage</title>

    <!-- CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index-style.css') }}"
    />
  </head>
  <body>
    <div class="wrapper">
      <div class="greeting-wrapper">
        <p>
          <span class="greeting-text">Willkommen bei meiner Homepage</span>
          <br />
          <a href="{{ url_for('contact_me') }}" class="contact-button">
            Kontaktiere mich
          </a>
        </p>
      </div>
      <div class="content-wrapper">
        <p>
          Ich bin ein nutzloser und etwas längerer Text der als Demonstration
          für Ihnalt auf einer Webseite dient. Es bringt dir nichts mich zu
          lesen aber ich bin trotzdem nicht dankbar. Aber hst du schon mal
          darüber nachgedacht, dass du wahrscheinlich relativ aufmerksam diesen
          Text liest aber nicht auf die Erklärung achtest?
        </p>
        <div class="container">
          <img src="{{ url_for('static', filename='cat.jpg') }}" alt="Image" />
          <div class="centered">Nicht meine Katze</div>
        </div>
      </div>
    </div>
  </body>
</html>
